<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>323837972762-fhak8rctpv3h5pmub9spfpcvtrs6fviu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.323837972762-fhak8rctpv3h5pmub9spfpcvtrs6fviu</string>
	<key>API_KEY</key>
	<string>AIzaSyD3AweeKx3aG1iOLTZ4hSbVt495jlkUu6s</string>
	<key>GCM_SENDER_ID</key>
	<string>323837972762</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.streetartorlando.streetart</string>
	<key>PROJECT_ID</key>
	<string>street-art-orlando-41dc4</string>
	<key>STORAGE_BUCKET</key>
	<string>street-art-orlando-41dc4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:323837972762:ios:3c06b8da404dad0e</string>
	<key>DATABASE_URL</key>
	<string>https://street-art-orlando-41dc4.firebaseio.com</string>
</dict>
</plist>